/* ===== */
/* Setup */
/* ===== */

:root {

  /* Elements */
  --font-family: monospace, sans-serif;
  --border-radius-snippet: 10px;

  /* Easing */
  --ease-out-quart: cubic-bezier(0.165, 0.84, 0.44, 1);
}

html { 
  box-sizing: border-box; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

::-moz-selection { background: yellow; }
::selection { background: yellow; }

/* ========== */
/* Typography */
/* ========== */

h2, p {
  color: hsl(236, 39%, 17%);
  font-family: var(--font-family);
  font-weight: 300;
}

h2 {
  font-size: 44px;
  line-height: 1.1;
}

p {
  font-size: 18px;
  line-height: 1.6;
}

/* ====== */
/* Layout */
/* ====== */

body { 
  background-color: gold; 
  padding: 100px 4%;
  font-family: var(--font-family);
}

main {
  margin: 0 auto;
  width: min(1200px, 100%);
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
}

h2 {
  margin-bottom: 60px;
}

.card {
  background-color: white;
  border-radius: var(--border-radius-snippet);
  padding: 30px;
  box-shadow: 0 10px 14px -6px hsla(30, 40%, 50%, 0.4);
  cursor: zoom-in;
}

/* ================== */
/* New Snippet Styles */
/* ================== */

.new-snippet_open-button {
  position:fixed;
  bottom: 30px;
  right: 30px;
  padding: 30px;
  appearance: none;
  background-color: black;
  border: 0;
  border-radius: 999px;
  box-shadow: 0 14px 20px -8px hsla(46, 100%, 19%, 0.5);
  color: white;
  cursor: pointer;
  font-family: var(--font-family);
  font-size: 20px;
  line-height: 0;
  transition: transform 150ms var(--ease-out-quart);
}

.new-snippet_open-button:focus-visible {
  outline: 3px solid black;
  outline-offset: 3px;
}

.new-snippet_open-button:active {
  transform: scale(0.98);
}

.new-snippet_overlay {
  position:fixed;
  inset: 0px;
  background-color: hsla(0, 0%, 100%, 0.75);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 4%;
  opacity: 0;
  pointer-events: none;
  transition: opacity 300ms var(--ease-out-quart);
}

.new-snippet_overlay.active {
  opacity: 1;
  pointer-events: auto;
}

.new-snippet_close-button {
  position:fixed;
  top: 30px;
  right: 30px;
  padding: 30px;
  appearance: none;
  background-color: black;
  border: 0;
  border-radius: 999px;
  box-shadow: 0 14px 20px -8px hsla(46, 100%, 19%, 0.5);
  color: white;
  cursor: pointer;
  font-family: var(--font-family);
  font-size: 20px;
  line-height: 0;
  transition: transform 150ms var(--ease-out-quart);
}

.new-snippet_close-button:focus-visible {
  outline: 3px solid black;
  outline-offset: 3px;
}

.new-snippet_close-button:active {
  transform: scale(0.98);
}

.new-snippet {
  width: min(600px, 100%);
  padding: 20px;
  background-color: white;
  border-radius: 18px;
  box-shadow: 0 20px 60px -10px hsla(41, 100%, 27%, 0.5);
}

.new-snippet > * + * {
  margin-top: 20px;
}

.new-snippet_drop-zone {
  display: grid;
  place-content: center;
  width: 100%;
  height: 300px;
  background-color: gold;
  border-radius: 8px;
  font-size: 18px;
}

.new-snippet_textarea {
  max-width: 100%;
  width: 100%;
  height: 160px;
  padding: 4px;
  border: none;
  outline: none;
  font-size: 18px;
}
