/* ===== */
/* Setup */
/* ===== */

html { box-sizing: border-box; }

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

::-moz-selection { background: yellow; }
::selection { background: yellow; }

/* ========== */
/* Typography */
/* ========== */

h2, p {
  color: hsl(236, 39%, 17%);
  font-family: monospace, sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 {
  font-size: 44px;
  line-height: 1.1;
}

p {
  font-size: 18px;
  line-height: 1.6;
}

/* ====== */
/* Layout */
/* ====== */

body { 
  background-color: gold; 
  padding: 100px 4%;
}

main {
  margin: 0 auto;
  width: min(1200px, 100%);
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
}

h2 {
  margin-bottom: 60px;
}

.card {
  background-color: white;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 10px 14px -6px hsla(30, 40%, 50%, 0.4);
  cursor: zoom-in;
}