
.title {
  margin-bottom: 60px;
}

/* ===== */
/* Cards */
/* ===== */

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 24px;
}

/* Text card */

.textCard {
  padding: 30px;
  background-color: white;
  border-radius: var(--border-radius-snippet);
  box-shadow: 0 10px 14px -6px hsla(30, 40%, 50%, 0.4);
  cursor: zoom-in;
}

.textCard > * + * {
  margin-top: 20px;
}

.textCard > button {
  color: red;
  font-weight: bold;
}

/* Image card */

.imageCard {
  position: relative;
  display: flex;
  background-color: black;
  border-radius: var(--border-radius-snippet);
  overflow: hidden;
  box-shadow: 0 10px 14px -6px hsla(30, 40%, 50%, 0.4);
  cursor: zoom-in;
}

.imageCard:hover img {
  opacity: 0.35;
}

.imageCard:hover .imageCardTextContainer {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.imageCardImage {
  display: block;
  object-fit: cover;
  width: 100%;
  transition: opacity 300ms var(--ease-out-quart);
}

.imageCardTextContainer {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 14px;
  transition: opacity 300ms var(--ease-out-quart),
    transform 300ms var(--ease-out-quart);
  opacity: 0;
  transform: translate3d(0, 20px, 0);
}

.imageCardTextContainer > * + * {
  margin-top: 8px;
}

.imageCardTitle,
.imageCardNote {
  color: white;
  line-height: 1.4;
}

.imageCardTitle {
  font-size: 16px;
  font-weight: 700;
  /* Handles truncating text */
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  /*  */
}

.imageCardNote {
  font-size: 14px;
  /* Handles truncating text */
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  /*  */
}