:root {
  /* Elements */
  --font-family: monospace, sans-serif;
  --border-radius-snippet: 10px;

  /* Easing */
  --ease-out-quart: cubic-bezier(0.165, 0.84, 0.44, 1);
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: gold;
}

html {
  box-sizing: border-box;
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

::-moz-selection {
  background: gold;
}
::selection {
  background: gold;
}

.lock-scroll {
  overflow: hidden;
}

/* ========== */
/* Typography */
/* ========== */

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
li {
  color: hsl(236, 39%, 17%);
  font-family: var(--font-family);
  font-weight: 300;
}

h1 {
  font-size: 52px;
  line-height: 1.1;
}

h2 {
  font-size: 44px;
  line-height: 1.1;
}

h3 {
  font-size: 38px;
  line-height: 1.1;
}

p {
  font-size: 18px;
  line-height: 1.5;
}

a {
  color: inherit;
  text-decoration: none;
}

/* ====== */
/* Layout */
/* ====== */

.layout {
  width: 100%;
  min-height: 100vh;
  background-color: gold;
  padding: 100px 4%;
}

main {
  margin: 0 auto;
  width: min(1200px, 100%);
}



/* MOVE THESE LATER */

.imageCard {
  position: relative;
  display: flex;
  background-color: black;
  border-radius: var(--border-radius-snippet);
  overflow: hidden;
  box-shadow: 0 10px 14px -6px hsla(30, 40%, 50%, 0.4);
  cursor: zoom-in;
}

.imageCard:hover img {
  opacity: 0.35;
}

.imageCard:hover .imageCardTextContainer {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.imageCardImage {
  display: block;
  object-fit: cover;
  width: 100%;
  transition: opacity 300ms var(--ease-out-quart);
}

.imageCardTextContainer {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 14px;
  transition: opacity 300ms var(--ease-out-quart),
    transform 300ms var(--ease-out-quart);
  opacity: 0;
  transform: translate3d(0, 20px, 0);
}

.imageCardTextContainer > * + * {
  margin-top: 8px;
}

.imageCardTitle,
.imageCardNote {
  color: white;
  line-height: 1.4;
}

.imageCardTitle {
  font-size: 16px;
  font-weight: 700;
  /* Handles truncating text */
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  /*  */
}

.imageCardNote {
  font-size: 14px;
  /* Handles truncating text */
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  /*  */
}